# Python
__pycache__/
*.pyc
*.pyo
.Python
*.egg-info/

# Virtual environments
venv/
env/
.venv/

# macOS
.DS_Store

# Streamlit
.streamlit/secrets.toml

# IDE
.vscode/
.idea/

# Environment variables
.env
